body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050505;
    color: white;
    text-align: center;
}


.main-header h1 {
    font-size: 70px;
    color: gold;
}


.main-header p {
    font-size: 30px;
}


.live-badge {
    font-size: 25px;
    padding: 15px 30px;
}



nav a {
    font-size: 25px;
}



.hero-section h2 {
    font-size: 45px;
}


.hero-section p {
    font-size: 25px;
}



button {
    font-size: 25px;
    padding: 20px 45px;
}



.station-card h2 {
    font-size: 40px;
}


.station-card h3 {
    font-size: 28px;
}


.station-card p {
    font-size: 25px;
}



.breaking h2 {
    font-size: 45px;
}


.breaking p {
    font-size: 25px;
}



.program-card h3 {
    font-size: 32px;
}


.program-card p {
    font-size: 23px;
}



footer {
    font-size: 22px;
}
nav {
    padding: 30px;
}


nav a {
    font-size: 35px;
    margin: 20px;
    font-weight: bold;
}
