body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #050505;
    color: white;
    text-align: center;
}


/* HEADER */

.main-header {
    padding: 40px;
    background: #111;
}


.main-header h1 {
    font-size: 70px;
    color: gold;
    margin: 0;
}


.main-header p {
    font-size: 30px;
}


.live-badge {
    display: inline-block;
    background: red;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 25px;
}



/* NAVIGATION */

nav {
    background: black;
    padding: 35px;
}


nav a {
    color: gold;
    font-size: 35px;
    margin: 25px;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}



/* HERO */

.hero-section {
    padding: 50px;
}


.hero-section h2 {
    font-size: 45px;
}


.hero-section p {
    font-size: 25px;
}



/* BUTTONS */

button {
    background: gold;
    color: black;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    padding: 20px 45px;
    font-weight: bold;
    cursor: pointer;
}



/* STATIONS */

.stations {
    padding: 40px;
}


.station-card {
    border: 2px solid gold;
    margin: 30px;
    padding: 30px;
    border-radius: 20px;
}


.station-card h2 {
    font-size: 40px;
}


.station-card h3 {
    font-size: 28px;
}


.station-card p {
    font-size: 25px;
}



/* BREAKING NEWS */

.breaking {
    padding: 40px;
    background: #111;
}


.breaking h2 {
    font-size: 45px;
}


.breaking p {
    font-size: 25px;
}



/* PROGRAMS */

.programs {
    padding: 40px;
}


.program-card {
    margin: 25px;
}


.program-card h3 {
    font-size: 32px;
}


.program-card p {
    font-size: 23px;
}



/* PRESENTERS */

.presenters {
    padding: 40px;
}



/* CONTACT */

.contact {
    padding: 40px;
}



/* FOOTER */

footer {
    background: black;
    padding: 30px;
    font-size: 22px;
}
